.profile-header {
  display: flex;
}

.profile-edit-btn {
  margin-left: auto;
}

.profile-container {
  display: flex;
  margin-top: 1rem;
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.profile-info {
  margin-left: 1rem;

  dt {
    font-weight: normal;
    color: #818a91; // Bootstrap's 'text-muted' color
  }

  dd {
    font-weight: bold;
  }
}

.skill-list {
  display: block;
  margin-top: 1rem;
}

.skill-search {
  display: block;
  margin-top: 1rem;
}

.tasks-header {
  margin-top: 1rem;
}
