<div class="row">
  <div class="col-lg-4">
    <h4 class="skill-type-heading"><span class="skill-icon professional"></span>Professional Skills</h4>
    <ul class="skill-list">
      <li
        class="skill professional"
        *ngFor="let skill of professionalSkills">
        {{ skill?.name }}
        <span
          *ngIf="showRemove"
          (click)="removeSkill(skill, professionalSkills)"
          class="remove-skill fa fa-remove"
          aria-hidden="true">
        </span>
      </li>
    </ul>
    <p *ngIf="professionalSkills.size === 0">No skills added yet.</p>
  </div>
  <div class="col-lg-4">
    <h4 class="skill-type-heading"><span class="skill-icon basic"></span>Basic Skills</h4>
    <ul class="skill-list">
      <li
        class="skill basic"
        *ngFor="let skill of basicSkills">
        {{ skill?.name }}
        <span
          *ngIf="showRemove"
          (click)="removeSkill(skill, basicSkills)"
          class="remove-skill fa fa-remove"
          aria-hidden="true">
        </span>
      </li>
    </ul>
    <p *ngIf="basicSkills.size === 0">No skills added yet.</p>
  </div>
  <div class="col-lg-4">
    <h4 class="skill-type-heading"><span class="skill-icon interest"></span>Interests</h4>
    <ul class="skill-list">
      <li
        class="skill interest"
        *ngFor="let skill of interestSkills">
        {{ skill?.name }}
        <span
          *ngIf="showRemove"
          (click)="removeSkill(skill, interestSkills)"
          class="remove-skill fa fa-remove"
          aria-hidden="true">
        </span>
      </li>
    </ul>
    <p *ngIf="interestSkills.size === 0">No skills added yet.</p>
  </div>
</div>
