@import "../../../../styles/variables";

.card {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  padding: 24px;
  position: relative;
  border-radius: 0;

  + .card {
    margin-top: 24px;
  }
}

.actions {
  position: absolute;
  top: 24px;
  right: 24px;

  .btn {
    padding: 0;
    background: none;
    font-size: 20px;
    color: $grey-medium;

    + .btn {
      margin-left: 8px;
    }

    &.remove:hover {
      color: red;
    }

    &.edit:hover {
      color: $grey-dark;
    }
  }
}

.kicker {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;

  &:hover {
    cursor: pointer;
    color: $ixds-blue;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.g-tag {
  &.priority {
    background-color: orangered;
    border-color: orangered;
    color: white;
  }
}
