<div class="card {{ project.end | pastProjects }}">
  <div class="actions">
    <button *ngIf="currentUserCanDelete" class="btn remove" type="button" (click)="modalService.open(deleteProjectModalId)"><i class="fa fa-trash"></i></button>
    <button *ngIf="currentUserCanEdit" class="btn edit" routerLink="/user/project/edit/{{project?._id}}"><i class="fa fa-pencil"></i></button>
  </div>

  <h6 class="kicker">{{ project.client }}</h6>
  <h3 class="title" (click)="showProject()">{{ project.title }}</h3>
  <h6 class="subtitle">{{ project.start | date:"dd.MM.yyyy" }} – {{ project.end | date:"dd.MM.yyyy" }}</h6>
  <p class="description">{{ project.description }}</p>

  <div class="g-tag-list">
    <div *ngIf="project.isPriority" class="g-tag priority">high priority</div>
    <div class="g-tag type">{{ project.type }}</div>
  </div>

  <app-modal [modal-id]="deleteProjectModalId" modal-title="Delete Project {{ project?.title }}">
    <span modal-body>Are you sure that you want to delete this project?</span>
    <div modal-footer class="text-xs-right">
      <button type="button" class="btn btn-secondary" (click)="modalService.close(deleteProjectModalId)">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteProject()">Delete</button>
    </div>
  </app-modal>
</div>
