@import "../../../styles/variables";

<<<<<<< 5e0622f75af7a43a33ba203eaa729f1ab083e8cb
.user-search {

  &:focus {
    position: relative;
    z-index: 1;
  }
}

.user-list {
  position: relative;
  margin-top: -1px;
  border: 1px solid $grey-light;
=======
.user-list {
  position: relative;
  margin-top: -1px;
  border: 1px solid $grey-light;
  max-height: 140px;
  overflow: auto;
}

.active {
  height: 140px;
}

.user {
  padding: 8px 12px;
  display: flex;

  &:hover {
    background-color: $primary-light;
    cursor: pointer;
  }

  &-info {
    width: 80%;
    text-align: left;
  }

  &-match {
    width: 20%;
    text-align: right;
  }
}

.avatar {
  background: $white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}
