@import "../../../styles/variables";

.user-search {

  &:focus {
    position: relative;
    z-index: 1;
  }
}

.user-list {
  position: relative;
  margin-top: -1px;
  border: 1px solid $grey-light;
  max-height: 140px;
  overflow: auto;
}

.user {
  padding: 8px 12px;
  display: flex;
  line-height: 36px; // avatar height

  &:hover {
    background-color: $primary-light;
    cursor: pointer;
  }

  &-info {
    width: 80%;
    text-align: left;
  }

  &-match {
    width: 20%;
    text-align: right;
  }
}
