form {
  max-width: 380px;
  padding: 32px;
  margin: 0 auto;
  background: rgba(#fff, 0.8);

  .alert p {
    margin-bottom: 0;
  }
}

h2 {
  margin-bottom: 24px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;

  &:focus {
    position: relative;
    z-index: 1;
  }

  &[type="email"] {
    margin-bottom: -1px;
  }

  &[type="password"] {
    margin-bottom: 16px;
  }
}
