<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Staffing Tool</title>

    <link rel="apple-touch-icon" href="/img/apple_touch_icon.png">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>

    <my-app>
      <div id="startup">HTW Staffing Tool</div>
    </my-app>

    <script src="/js/app/bundle.js"></script>
  </body>
</html>
