// Styles for skill-search and user-skill-list
@import "../../../styles/variables";

.skill-search {
  margin-bottom: 12px;
  width: 100%;
}

.skill-list {
  margin-left: -4px;
  margin-top: -4px;
  padding: 0;
  height: 140px;
  overflow-y: auto;
}

.skill {
  list-style: none;
  padding: 4px 12px;
  background-color: #f7f7f7;
  display: inline-block;
  margin: 4px 4px;
  border-radius: 4px;
  border: 1px solid #a2a2a2;
}

.skill-buttons {
  margin-left: 4px;
}

.skill-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: currentColor;
}

.skill-btn {
  cursor: pointer;
  margin-left: 2px;
  border: 1px solid #333;

  &:hover {
    border-color: currentColor;
  }
}

.skill-icon.professional {
  color: $ixds-orange;
}

.skill-icon.basic {
  color: $ixds-blue;
}

.skill-icon.interest {
  color: $grey-medium;
}

.remove-skill {
  cursor: pointer;
  margin-left: 8px;

  &:hover {
    color: red;
  }
}

.skill-type-heading {
  .skill-icon {
    margin-right: 8px;
  }
}
