@import "../../../styles/variables";
//
//:host {
//  display: block;
//  border: 1px solid $grey-light;
//}

.skill-search {
  width: 100%;
  position: relative;
}

.skill-list {
  max-height: 140px;
  overflow-y: auto;
  margin: -1px 0 0 0;
  border: 1px solid $grey-light;
  padding: 12px 4px;
}

.skill-buttons {
  margin-left: 4px;
}

.skill-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: currentColor;
}

.skill-btn {
  cursor: pointer;
  margin-left: 2px;
  border: 1px solid $grey-light;

  &:hover {
    border-color: currentColor;
  }
}

.skill-icon.professional {
  color: $skill-professional;
}

.skill-icon.basic {
  color: $skill-basic;
}

.skill-icon.interest {
  color: $skill-interest;
}
