@import "../../../styles/variables";

.skill-search {
  width: 100%;
  position: relative;
}

.skill-list {
  max-height: 140px;
  overflow-y: auto;
  margin: -1px 0 0 0;
  border: 1px solid $grey-light;
  padding: 12px 4px;
}

.skill-buttons {
  margin-left: 4px;
}

.skill {
  &.has-skill-buttons {
    line-height: 24px;
  }
}

.skill-buttons {
  font-size: 20px;
  line-height: 24px;
  vertical-align: sub;

  .fa {
    cursor: pointer;
    margin-left: 4px;

    &.professional {
      color: $skill-professional;

      &:hover {
        color: shade($skill-professional, 20);
      }
    }

    &.basic {
      color: $skill-basic;

      &:hover {
        color: shade($skill-basic, 20);
      }
    }

    &.interest {
      color: $skill-interest;

      &:hover {
        color: shade($skill-interest, 20);
      }
    }
  }
}

