.user-profile-page {
  margin-bottom: 5rem;
}


.profile-header {
  display: flex;
}

.profile-edit-btn {
  margin-left: auto;
  height: 100%;
}

.profile-container {
  margin-top: 1rem;
}

.picture-container {
  position: relative;
}

.image-upload-label {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
}

.profile-picture {
  width: 100%;
  height: auto;
}

.profile-info {
  dt {
    font-weight: normal;
  }

  dd {
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.skill-list {
  display: block;
  margin-top: 2rem;
}

.skill-section {
  display: block;
  margin-top: 2rem;

  .skill-list {
    margin-top: 1rem;
  }
}

.tasks-header, .projects-header {
  margin-top: 1rem;
}

.project-type {
  display: inline-block;
  width: 100px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.project-container {
  margin-top: 2rem;
}

.card-block {

  &:hover {
    border-color: #2b2d2f;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24);
    cursor: pointer;
  }
}

.card-title {

}

.tentative {
  background-color: #ccc;
}

.confirmed {
  background-color: #070;
}

.internal {
  background-color: #6495ED;
}

.card-text {
  padding: 10px
}


