.profile-header {
  display: flex;
}

.profile-edit-btn {
  margin-left: auto;
  height: 100%;
}

.profile-container {
  margin-top: 1rem;
}

.picture-container {
  position: relative;
}

.image-upload-label {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
}

.profile-picture {
  width: 100%;
  height: auto;
}

.profile-info {
  dt {
    font-weight: normal;
  }

  dd {
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.skill-list {
  display: block;
  margin-top: 2rem;
}

.skill-section {
  display: block;
  margin-top: 2rem;

  .skill-list {
    margin-top: 1rem;
  }
}

.tasks-header {
  margin-top: 1rem;
}

