@import '../../../styles/_variables';

.page-wrapper {
  display: flex;
  margin-top: 20px;
}

.sidebar {
  @include md-shadow-xs;

  width: 250px;
  height: 100%;
  color: $white;
  background: rgba($white, 0.2);
}

.picture-container {
  position: relative;
  background: $white;

  img {
    @include md-shadow-xs;

    width: 100%;
    height: auto;
  }

  span {
    word-wrap: break-word;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background: rgba($black, 0.3);
    font-size: 20px;
    line-height: 24px;
    padding: 12px;
  }

  .image-upload-label {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(#000, 0.7);
    padding: 1px 8px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: rgba(#fff, 0.7);
      color: #000000;
    }
  }
}

.profile-info {
  padding: 12px;

  dt {
    font-weight: 600;
  }

  dd {
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 16px;

    i.fa-pencil {
      display: none;
      cursor: pointer;
    }
    &:hover i.fa-pencil {
      display: inline-block;
    }
  }

  .fa-floppy-o {
    cursor: pointer;
  }

  input {
    $color: #fff;
    //margin: 40px 25px;
    width: 200px;
    display: inline-block;
    border: none;
    padding: 3px 0;
    border-bottom: solid 1px $color;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(#fff,0) 96%, $color 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: $color;
    &:focus {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
    }
  }

  .email {
    word-wrap: initial;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: $white;
      border-bottom: 1px solid rgba($white, 0.8);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.edit-profile-btn {
  color: $white;
  float: right;
  margin: 5px;
  i {
    font-size: 1.2em;
  }
}

.content {
  padding-left: 16px;
  flex: 1;
}

.bar {
  @include md-shadow-xs;
  @include md-transition;

  position: relative;
  width: 100%;
  color: rgba($white, 0.9);
  background: rgba($white, 0.2);
  font-size: 1.2em;

  &:hover {
    @include md-shadow-s;
  }

  + .bar {
    margin-top: 12px;
  }

  &.expanded {
    .bar-content {
      max-height: 300px;
      padding: 12px;
      border-top: rgba($white, 0.2) solid 1px;
      overflow-y: auto;
    }

    .fa-chevron-right {
      transform: rotate(90deg);
    }
  }
}

.bar-content {
  @include md-transition;

  transition-property: max-height, padding-top, padding-bottom;
  will-change: max-height, padding-top, padding-bottom;
  padding: 0 12px;
  height: 100%;
  max-height: 0; // transition max-height as height can't be animated from 0 to 100%
  overflow: hidden;

  &::-webkit-scrollbar {
    transition: background 0.5s;
    width: 12px;
    background: rgba($white, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    transition: background 0.5s;
    background: $white;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 6px;
  }
}

.bar-head {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;

  .fa-chevron-right {
    @include md-transition;

    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    line-height: inherit;
  }
}

.task {
  &-bar {
    background: rgba($white, 0.2);
    padding: 10px;
    margin-top: 10px;
  }
  &-lefty {
    display: inline-table;
    width: 320px;
  }
  &-title {

  }
  &-client {
    font-size: 14px;
    line-height: 24px;
  }
  &-description {
    font-size: 14px;
    line-height: 24px;
  }
}

.project {
  display: flex;

  &-type {
    display: inline-block;
    flex-grow: 2;
    text-align: center;
    background: rgba($white, 0.2);
    margin: 10px;
    img {
      width: 50px;
      margin: 10px;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.skill-section {
  display: block;
  margin-top: 2rem;

  .skill-list {
    margin-top: 1rem;
  }
}
