@import "../../../styles/variables";

.skill-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: currentColor;
}

.skill-icon.professional {
  color: $skill-professional;
}

.skill-icon.basic {
  color: $skill-basic;
}

.skill-icon.interest {
  color: $skill-interest;
}

.skill-list {
  margin-top: 12px;
}

.skill-type-heading {
  font-size: 20px;
  line-height: 24px;

  .skill-icon {
    margin-right: 8px;
  }
}

.no-skills-hint {
  color: $grey-dark;
  margin-bottom: 0;
}
