<flash-messages></flash-messages>
<div class="page-wrapper">

  <div class="sidebar">

    <div class="picture-container">
      <img src="/img/user.png" id="profile-picture" alt="Profile picture">
      <label class="image-upload-label" for="img-upload-input"><i class="fa fa-pencil"></i></label>
      <input class="image-upload-input" id="img-upload-input" type="file" (change)="fileChanged($event)" style="display: none;">
      <span class="username">{{user?.firstName}} {{user?.lastName}}</span>
    </div>

    <dl class="profile-info">
      <dt>Email</dt>
      <dd class="email">
          <a href="mailto:{{ user?.email }}">{{user?.email}}</a>
      </dd>

      <dt>Location</dt>
      <dd class="location">{{user?.location}}</dd>

      <dt>Phone</dt>
      <dd class="phone">
        <div class="info" [hidden]="editingPhone">
          {{ user?.phone ? user?.phone : 'n/a' }}
          <i class="fa fa-pencil" (click)="editingPhone = true"></i>
        </div>
        <div class="edit-info" [hidden]="!editingPhone">
          <input type="text" [(ngModel)]="newPhone" [value]="user?.phone ? user?.phone : 'n/a'">
          <i class="fa fa-floppy-o" (click)="saveNewPhone()"></i>
        </div>
      </dd>
    </dl>

    <button type="button" class="btn btn-block btn-plain btn-change-password" (click)="openModal()">Change Password</button>

  </div>

  <main class="content">

    <div class="bar" [class.expanded]="showTask">
      <div class="bar-head" (click)="toggleTask()">
        Tasks
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="bar-content">
        <div class="task-list">
          <div class="g-card task-card" *ngFor="let assignedTask of assignedTasks">
            <h5 class="g-card-title task-title">
              <a routerLink="/user/project/show/{{ assignedTask?.project._id }}">{{ assignedTask?.task.title }}</a>
            </h5>
            <!--<p class="task-client">{{ assignedTask?.project.client }}</p>-->
            <p class="g-card-text task-description">{{ assignedTask?.task.description }}</p>
          </div>
          <p class="empty-hint" *ngIf="assignedTasks?.length === 0">You don't have any assigned tasks.</p>
        </div>
      </div>
    </div>
    <div class="bar" [class.expanded]="showProject">
      <div class="bar-head" (click)="toggleProject()" >
        Created Projects
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="bar-content" >
        <!--<div class="project-container">-->
          <!--<div class="g-card"  *ngFor="let project of projects; let i = index" routerLink="../project/show/{{project?._id}}" >-->
            <!--<h5 class="g-card-title {{ project?.type }}">{{ project?.title }}</h5>-->
            <!--<div class="g-card-text" >{{ project?.client }}</div>-->
            <!--<div class="g-card-text">{{ project?.start | date:"dd/MM/yy" }} - {{ project?.end | date:"dd/MM/yy"}}</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="bar" [class.expanded]="showSkill">
      <div class="bar-head" (click)="toggleSkill()" >
        Skills
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="bar-content">
        <app-user-skill-list class="skill-list" [user]="user" [showSkillTypeIcons]="false"></app-user-skill-list>
      </div>
    </div>

  </main>
</div>

<app-modal [modal-id]="changePwdModal" modal-title="Change Password">
  <app-change-password modal-body></app-change-password>
</app-modal>
