<div class="page-wrapper">

  <ul class="tablist" role="tablist">
    <li class="tab" [ngClass]="{ active: activeTab === 'projects' }">
      <a class="tab-link" role="tab" (click)="showTab($event)" routerLink="/user/project/list/projects" data-target="projects">Projects</a>
    </li>
    <li class="tab" [ngClass]="{ active: activeTab === 'tasks' }">
      <a class="tab-link" role="tab" (click)="showTab($event)" routerLink="/user/project/list/tasks" data-target="tasks">Tasks</a>
    </li>
    <button type="button" class="btn btn-primary btn-add-project" routerLink="/user/project/create">New Project</button>
  </ul>

  <div class="content-wrapper">

    <div class="settings">

      <div class="settings-block">
        <h6 class="settings-title">Filter:</h6>
        <ul class="filter-list">
          <li class="filter">
            <label>
              <input id="own" type="checkbox" (change)="filterProjects('own', true)" />My projects
            </label>
          </li>
          <li class="filter">
            <label>
              <input id="high" type="checkbox" (change)="filterProjects('high', true)" />High priority projects
            </label>
          </li>
          <li class="filter">
            <label>
              <input id="past" type="checkbox" (change)="filterProjects('past', true)" />Past projects
            </label>
          </li>
        </ul>
      </div>

      <div class="settings-block">
        <h6 class="settings-title">Order by:</h6>
        <ul class="filter-list">
          <li class="filter">
            <span>Start date</span>
            <div class="order-buttons">
              <i id="start-asc" class="fa fa-caret-up order-button" (click)="orderProjects('start-asc', true)"></i>
              <i id="start-desc" class="fa fa-caret-down order-button" (click)="orderProjects('start-desc', true)"></i>
            </div>
          </li>
          <li class="filter">
            <span>End date</span>
            <div class="order-buttons">
              <i id="end-asc" class="fa fa-caret-up order-button" (click)="orderProjects('end-asc', true)"></i>
              <i id="end-desc" class="fa fa-caret-down order-button" (click)="orderProjects('end-desc', true)"></i>
            </div>
          </li>
          <li class="filter">
            <span>Client</span>
            <div class="order-buttons">
              <i id="client-asc" class="fa fa-caret-up order-button" (click)="orderProjects('client-asc', true)"></i>
              <i id="client-desc" class="fa fa-caret-down order-button" (click)="orderProjects('client-desc', true)"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <main class="content">
      <div class="ducspinner" *ngIf="projects === undefined"></div>
      <div id="projects" class="tabpane" [ngClass]="{ active: activeTab === 'projects' }">
        <app-project-card
          [project]="project"
          (onDelete)="deleteProject(project)"
          *ngFor="let project of filteredProjects">
        </app-project-card>
      </div>

      <div class="tabpane" id="tasks" [ngClass]="{ active: activeTab === 'tasks' }">
        <template ngFor let-project [ngForOf]="filteredProjects">
          <app-task-card
            [project]="project"
            [task]="projectTask"
            (onDelete)="deleteProjectTask(project._id, projectTask._id)"
            *ngFor="let projectTask of project.projectTasks">
          </app-task-card>
        </template>
      </div>
    </main>

  </div>
</div>
