@import './../../../styles/variables';

.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.content-wrapper {
  margin-top: 36px;
}

.settings {
  border: 1px solid $grey-light;
}

.settings-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 16px 16px 0;
}

.filter-list {
  margin: 12px 0 0 0;
  padding: 0 16px 16px;
  list-style: none;
}

.filter {
  display: inline-block;

  + .filter {
    margin-left: 24px;
  }

  label {
    margin: 0 0 0 8px;
  }
}

.content {
  margin-top: 36px;
}

.tablist {
  list-style: none;
  padding: 0;
  margin: 36px 0 0 0;
}

.tab {
  display: inline-block;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.015em;

  + .tab {
    margin-left: 15px;

    &:before {
      color: $grey-light;
      content: '|';
      display: inline-block;
      margin-right: 12px;
    }
  }
  
  &.active .tab-link {
    color: $blackish;
    border-bottom: 1px solid $blackish;
    cursor: default;
    text-decoration: none;
  }
}

.tab-link {
  color: $grey-dark;
  
  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
  }
}

.tabpane {
  display: none;

  &.active {
    display: block;
  }
}

.btn-add-project {
  float: right;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 16px;
}

.orderButtons {
  display: block;
  margin-right: 15px;
  &:hover {
    color: $danger;
    cursor: pointer;
  }
  &:active {
    transform: scale(0.7);
  }
}

.orderButtons-active {
  color: $danger;
}

.flex-container {
  display: flex;
}

//spinner
.ducspinner {
  margin: 20% auto 0 auto;
  height: 28px;
  width: 28px;
  animation: rotate 0.5s infinite linear;
  border: 6px solid $grey-medium;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
