<div class="wrapper">

  <ul class="tablist" role="tablist">
    <li class="tab" [ngClass]="{ active: activeTab === 'projects' }">
      <a class="tab-link" role="tab" (click)="showTab($event)" routerLink="/user/project/list/projects" data-target="projects">Projects</a>
    </li>
    <li class="tab" [ngClass]="{ active: activeTab === 'tasks' }">
      <a class="tab-link" role="tab" (click)="showTab($event)" routerLink="/user/project/list/tasks" data-target="tasks">Tasks</a>
    </li>
    <button type="button" class="btn btn-primary btn-add-project" routerLink="/user/project/create">New Project</button>
  </ul>
  <div class="filter-container">
    <div class="filter">
      <input id="pastProjects" type="checkbox" (change)="togglePastProjects()"><label for="pastProjects"> Show past projects</label>
    </div>
    <div class="filter">
      <input id="dummy1" type="checkbox"><label for="dummy1">Dummy Filter</label>
    </div>
    <div class="filter">
      <input id="dummy2" type="checkbox"><label for="dummy2">Dummy Filter</label>
    </div>
  </div>
  <div class="content">
    <div class="ducspinner" *ngIf="projects === undefined"></div>

    <div id="projects" class="tabpane" [ngClass]="{ active: activeTab === 'projects' }">
      <app-project-card
        [project]="project"
        (onDelete)="deleteProject(project)"
        *ngFor="let project of projects">
      </app-project-card>
    </div>

    <div class="tabpane" id="tasks" [ngClass]="{ active: activeTab === 'tasks' }">
      <template ngFor let-project [ngForOf]="projects">
        <app-task-card
          [project]="project"
          [task]="projectTask"
          (onDelete)="deleteProjectTask(projectTask)"
          *ngFor="let projectTask of project.projectTasks">
        </app-task-card>
      </template>
    </div>

  </div>

</div>
