<div class="col-lg-6 project-create-page">
  <h1 *ngIf="!isEditing">Create Project</h1>
  <h1 *ngIf="isEditing">Edit Project: {{ project?.title }}</h1>
  <p class="text-xs-right"><span class="red">*</span> Required Fields</p>

  <form (ngSubmit)="onSubmit(projectForm.value)" [formGroup]="projectForm">
    <div class="project-container">
      <div class="form-group">
        <div class="flex-container">
          <label for="title-input" class="flex-container-left">Title <span class="red">*</span></label>
          <div class="flex-container-right red"
               *ngIf="!projectForm.get('title').valid && projectForm.get('title').dirty">
            This field is required.
          </div>
        </div>
        <input required id="title-input" class="form-control" placeholder="Enter a title"
               formControlName="title"
               [class.error]="!projectForm.get('title').valid && projectForm.get('title').dirty">
      </div>

      <div class="project-info">

        <div class="form-group">
          <div class="flex-container">
            <label for="title-input" class="flex-container-left">Description <span class="red">*</span></label>
            <div class="flex-container-right red"
                 *ngIf="!projectForm.get('description').valid && projectForm.get('description').dirty">
              This field is required.
            </div>
          </div>
          <textarea id="description-input" class="form-control" placeholder="Enter a description" rows="4"
                 formControlName="description"
                    [class.error]="!projectForm.get('description').valid && projectForm.get('description').dirty"></textarea>
        </div>

        <div class="form-group">
          <label for="type-input">Type <span class="red">*</span></label>
          <select required id="type-input" class="form-control"
                  formControlName="type">
            <option value="confirmed">Confirmed</option>
            <option value="internal">Internal</option>
            <option value="tentative">Tentative</option>
          </select>
        </div>

        <div class="form-group">
          <div class="flex-container">
            <label for="title-input" class="flex-container-left">Client <span class="red">*</span></label>
            <div class="flex-container-right red"
                 *ngIf="!projectForm.get('client').valid && projectForm.get('client').dirty">
              This field is required.
            </div>
          </div>
          <input id="client-input" class="form-control" placeholder="Enter a client"
                 formControlName="client"
                 [class.error]="!projectForm.get('client').valid && projectForm.get('client').dirty">
        </div>

        <div class="form-group">
          <div class="flex-container">
            <label for="title-input" class="flex-container-left">Budget in EUR <span class="red">*</span></label>
            <div class="flex-container-right red"
                 *ngIf="projectForm.get('budget').hasError('required') && projectForm.get('budget').dirty">
              This field is required.
            </div>
          </div>
          <input required id="budget-input" class="form-control" placeholder="Enter a budget"
                 type="number" min="0" formControlName="budget"
                 [class.error]="!projectForm.get('budget').valid && projectForm.get('budget').dirty">
        </div>

        <div class="form-group">
          <div class="flex-container">
            <label for="title-input" class="flex-container-left">Expense Budget in EUR</label>
          </div>
          <input id="expbudget-input" class="form-control" placeholder="Enter an budget for expenses"
                 formControlName="expBudget" type="number" min="0">
        </div>

        <div class="form-group">
          <div class="switch-field">
            <div class="switch-title">Priority</div>
            <input type="radio" id="switch_left" name="isPriority" value="false" formControlName="isPriority" />
            <label for="switch_left">Normal</label>
            <input type="radio" id="switch_right" name="isPriority" value="true" formControlName="isPriority" />
            <label for="switch_right">High</label>
          </div>
        </div>

          <div class="form-group">
            <label for="start-input">Start <span class="red">*</span></label>
            <input required id="start-input" class="form-control" type="date"
                   formControlName="projectStart"
                   [class.error]="!projectForm.get('projectStart').valid && projectForm.get('projectStart').dirty">
          </div>

          <div class="form-group">
            <label for="end-input">End <span class="red">*</span></label>
            <input required id="end-input" class="form-control" type="date"
                   formControlName="projectEnd"
                   [class.error]="!projectForm.get('projectEnd').valid && projectForm.get('projectEnd').dirty">
          </div>

        <h3>Tasks:</h3>
        <div class="project-tasks">
          <div class="card-block" *ngFor="let projectTask of projectTasks; let i = index" (click)="editProjectTask(i)">
            <h5 class="card-title internal">{{ projectTask.title }}<span
              (click)="removeProjectTask(projectTask)"
              class="remove-project-task fa fa-remove"
              aria-hidden="true"></span></h5>
            <div class="card-text">{{ projectTask.description }}</div>

            <app-modal [modal-id]="editTaskModalIds[i]" modal-title="Edit {{ projectTask.title }}">
              <app-task-create #taskComponent [task]="projectTask" modal-body></app-task-create>
              <div modal-footer class="text-xs-right">
                <button type="button" class="btn btn-secondary" (click)="closeModal(editTaskModalIds[i], $event)">Cancel</button>
                <button type="button" class="btn btn-primary" [disabled]="!taskComponent.taskForm.valid" (click)="saveEditedProjectTask(taskComponent, i)">
                  Save Changes
                </button>
              </div>
            </app-modal>

          </div>
        </div>

        <button type="button" class="btn btn-secondary" (click)="showNewTaskModal()">Add Task</button>
        <app-modal [modal-id]="addTaskModalId" modal-title="Add a new Task">
          <app-task-create #taskComponent modal-body></app-task-create>
          <div modal-footer class="text-xs-right">
            <button type="button" class="btn btn-secondary" (click)="closeModal(addTaskModalId, $event)">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!taskComponent.taskForm.valid" (click)="addProjectTask(taskComponent)">
              Add Task
            </button>
          </div>
        </app-modal>

        <div class="text-xs-right">
          <button type="button" class="btn btn-secondary">Cancel</button>
          <button *ngIf="isEditing" type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Save Project</button>
          <button *ngIf="!isEditing" type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">Create Project</button>
          <flash-messages></flash-messages>
        </div>

      </div>
    </div>
  </form>
</div>
