@import './../../../styles/_variables';

h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  margin-left: 2px;
  color: #fff;
}

th {
  cursor: pointer;
}

.list-project-container {
  margin-top: 20px;
  margin-bottom: 100px;
}

.list-project {
  padding: 15px;
  background: rgba(#fff, 1);
  border-radius: 2px;
  @extend .md-shadow-1;
}

.nav-link {
  color: #55595c;
  background: #ddd;
}

.tabpane {
  display: none;
}
.active {
  display: block;
}
