<div class="show-project-page">
  <header>
    <h4 class="client">{{ project?.client }}</h4>
    <h1 class="project-title">{{project?.title}}</h1>
    <div class="badge">{{ project?.type }}</div>
    <ul class="meta-list">
      <li><b>Period:</b> {{ project?.start | date:"dd/MM/yyyy" }} - {{ project?.end | date:"dd/MM/yyyy"}}</li>
      <li><b>Created by:</b> {{ project?.creator.firstName }} {{ project?.creator.lastName }}</li>
      <li><b>Budget:</b> {{ project?.budget }} €</li>
      <li><b>Expense Budget:</b> {{ project?.expBudget }} €</li>
      <li><b>Description:</b> {{project?.description}}</li>
    </ul>
    <button class="edit-project-btn btn btn-secondary" routerLink="../../edit/{{project?._id}}"
     *ngIf="isAuthorized">Edit Project</button>
  </header>

  <section class="task-section">
    <h3 class="task-title">Tasks</h3>
    <div class="project-task-list">
      <div class="card-block" *ngFor="let projectTask of project?.projectTasks">
        <h5 class="card-title internal">{{ projectTask.title }}</h5>
        <div class="card-text">{{ projectTask.description }}</div>
        <ul class="task-skill-list">
          <li class="skill" *ngFor="let skill of projectTask.requiredSkills">{{ skill.name }}</li>
        </ul>
        <h6 class="card-title internal card-text">Assigned Users</h6>
        <ul class="task-skill-list">
          <li class="skill" *ngFor="let user of projectTask.assignedUsers">{{ user.firstName }} {{ user.lastName }}
          <img class="{{user._id}}" alt="Profile picture">
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
