@import "../../../styles/variables";

.show-project-page {
  margin-bottom: 5rem;
}

header {
  position: relative;
}

.badge {
  background-color: $grey-dark;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  margin: 0 0 0.5rem 1rem;
  vertical-align: super;

  .fa {
    margin-right: 4px;
  }
}

.btn {
    &-assign {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 0;
    background: none;
    font-size: 20px;
    color: $grey-medium;
  }
}

.project-title {
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.01em;
}

.client {
  font-weight: 300;
}

.meta-list {
  padding: 0;
  list-style: none;
}

.edit-project-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.task-section {
  margin-top: 2rem;
}

.project-task-list {
  margin-top: 1rem;
}

.card-block {

}

.card-title {

}

.card-text {

}

.task-list {
  list-style: none;
  padding: 0 16px;
  margin-top: 0.5rem;
}

.tag {
  list-style: none;
  padding: 4px 12px;
  background-color: $white;
  display: inline-block;
  margin: 4px 4px;
  border-radius: 4px;
  border: 1px solid #a2a2a2;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
  text-align: inherit;
}

.user {
  width: 250px;
}

.interested-user {
  position: relative;
  padding-right: 40px;
}

.avatar {
  margin-right: 16px;
}
