<div class="page-wrapper">
  <main class="content-wrapper">

    <h3 class="section-title">Project</h3>
    <section class="project-section">
      <h4 class="client">{{ project?.client }}</h4>
      <h1 class="project-title">{{project?.title}}</h1>
      <div class="g-tag type">{{ project?.type }}</div>
      <ul class="meta-list">
        <li><b>Period:</b> {{ project?.start | date:"dd/MM/yyyy" }} - {{ project?.end | date:"dd/MM/yyyy"}}</li>
        <li><b>Created by:</b> {{ project?.creator.firstName }} {{ project?.creator.lastName }}</li>
        <li><b>Budget:</b> {{ project?.budget }} €</li>
        <li><b>Expense Budget:</b> {{ project?.expBudget }} €</li>
        <li><b>Description:</b> {{project?.description}}</li>
      </ul>
      <button class="btn btn-primary edit-project-btn" routerLink="../../edit/{{ project?._id }}"
       *ngIf="currentUserCanEdit">Edit Project</button>
    </section>

    <h3 id="tasks" class="section-title">Tasks</h3>
    <section class="task-section">
      <div class="task-list">
        <p class="empty-hint" *ngIf="project?.projectTasks.length === 0">This project does not have any tasks yet.</p>
        <div class="g-card task-card" *ngFor="let projectTask of project?.projectTasks">
          <h2 class="g-card-title">{{ projectTask.title }}</h2><div class="g-tag status">{{ projectTask.status }}</div>
          <div class="g-card-content"><p>{{ projectTask.description }}</p></div>
          <ul class="skill-list">
            <li class="g-tag skill" *ngFor="let skill of projectTask.requiredSkills">{{ skill.name }}</li>
          </ul>
          <h3 class="g-card-subtitle">Assigned Users</h3>
          <ul class="user-list">
          <p class="empty-hint" *ngIf="projectTask.assignedUsers.length === 0">There are no assigned Users yet.</p>
            <li class="user" *ngFor="let user of projectTask.assignedUsers"><img class="avatar {{user._id}}" alt="Profile picture">{{ user.firstName }} {{ user.lastName }}
              <button title="Unassign User" *ngIf="currentUserIsCreator" type="button" (click)="unassignUser(projectTask, user)" class="btn btn-icon btn-unassign"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
            </li>
          </ul>
          <h3 class="g-card-subtitle">Interested Users</h3>
          <ul class="user-list">
          <p class="empty-hint" *ngIf="projectTask.interestedUsers.length === 0">There are no interested Users yet.</p>
            <li class="user" *ngFor="let user of projectTask.interestedUsers"><img class="g-avatar {{user._id}}" alt="Profile picture">{{ user.firstName }} {{ user.lastName }}
              <button title="Assign User" *ngIf="currentUserIsCreator" type="button" (click)="assignUser(projectTask, user)" class="btn btn-icon btn-assign"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</div>
