@import "../../../styles/variables";

.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.content-wrapper {
  margin-top: 36px;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin-top: 36px;
}

form {
  padding: 24px;
  margin-top: 24px;
  border: 1px solid $grey-light;
  background: $white;
}

.error {
  border-color: $danger;
}

.red {
  color: $danger;
}

.form-group + .form-group {
  margin-top: 24px;
}

.flex-container {
  display: flex;

  &-left {
    width: 50%;
    text-align: left;
  }

  &-right {
    width: 50%;
    text-align: right;
  }
}

.remove-project-task {
  margin-left: 12px;
  float: right;
  cursor: pointer;
  transition: color 0.2s;
  
  &:hover {
    color: $danger;
  }
}

.task-section {
  margin-top: 36px;

  h3{
    margin: 0;
  }
}

.task-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 16px -8px 0;
}

.task-card {
  flex: 1 1 300px;
  margin: 8px;
  max-width: 418px;
}

.task-card-title {
  cursor: pointer;
}

.edit-project-task:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-add-task {
  margin-top: 24px;
}

flash-messages {
  display: block;
  margin-top: 24px;
}
