

body {
  background-color: #FAFAFA;
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#startup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
  font-size: 1.2em;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

