@import "../../../styles/variables";

.actions .btn {
  background: none;
  color: $grey-medium;
  padding: 0 12px;
  font-size: 20px;

  &.delete:hover {
    color: $danger;
  }
}

.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.content-wrapper {
  margin-top: 36px;
  background: $white;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin-top: 36px;
}

.table-wrapper {
  border: 1px solid $grey-light;
}

.skill-list {
  display: block;
  margin-top: 24px;
}

.skill-create-container {
  margin-top: 24px;
}

.skill-create {
  display: block;
  margin-top: 24px;
}

.btn-add-skill {
  vertical-align: top;
}

.input-group {
  max-width: 300px;
}
