@import "../../../styles/variables";

.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.content-wrapper {
  margin-top: 36px;
}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
  letter-spacing: 0.015em;
  color: $white;
  margin-top: 36px;
}

form {
  @include md-shadow-xs;

  padding: 24px;
  margin-top: 24px;
  background: $white;
}

.error {
  border-color: red;
}

.red {
  color: red;
  font-size: 0.8em;
}

.flex-container {
  display: flex;

  &-left {
    width: 50%;
    text-align: left;
  }

  &-right {
    width: 50%;
    text-align: right;
  }
}

flash-messages {
  display: block;
  margin-top: 24px;
}
