<div class="col-lg-6">
  <h2>Add a person</h2>

  <form (ngSubmit)="onSubmit(createUserForm.value)" [formGroup]="createUserForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input required type="text" id="firstName" placeholder="e.g. John" class="form-control"
             formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input required type="text" id="lastName" placeholder="e.g. Doe" class="form-control"
             formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input required type="email" id="email" placeholder="john.doe@example.com" class="form-control"
             formControlName="email">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <select required id="location" class="form-control"
              formControlName="location">
        <option>Berlin HQ</option>
        <option>Munich</option>
      </select>
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <select required id="role" class="form-control"
              formControlName="role">
        <option value="user">User</option>
        <option value="user_creator">User Creator</option>
        <option value="admin">Administrator</option>
      </select>
    </div>
    <div class="row" formGroupName="pw">
      <div class="form-group col-xs-6">
        <label for="password">Password</label>
        <input required type="password" id="password" placeholder="Password" class="form-control"
               formControlName="password">
        <div *ngIf="createUserForm?.controls?.pw?.controls?.password?.hasError('minlength')">
          Minimum 8 characters.
        </div>
        <div *ngIf="createUserForm?.controls?.pw?.controls?.password?.hasError('noCapital')">
          At least 1 capital letter.
        </div>
        <div *ngIf="createUserForm?.controls?.pw?.controls?.password?.hasError('noNumber')">
          At least 1 number.
        </div>
      </div>
      <div class="form-group col-xs-6">
        <label for="password-confirm">Confirm password</label>
        <input required type="password" placeholder="Repeat password" id="password-confirm" class="form-control"
               formControlName="confirm">
        <small *ngIf="createUserForm.controls.pw.valid">
          Passwords must match.
        </small>
      </div>
    </div>
    <div class="text-xs-right">
      <flash-messages></flash-messages>
      <button type="button" class="btn btn-secondary">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!createUserForm.valid">Add Person</button>
    </div>
  </form>
</div>
