.flash-messages {
  font-size: 16px;
  line-height: 24px;
}

.alert {
  background: $white;
  color: $blackish;
  border-radius: 0;
  padding: 11px;
  margin-bottom: 24px;

  p:last-child {
    margin-bottom: 0;
  }
}

.alert-danger,
.alert-error {
  color: $danger;
  border-color: $danger;
}

.alert-success {
  color: $success;
  border-color: $success;
}
