// Bootstrap overrides

.g-table {
  color: $blackish;
  margin-bottom: 0;

  thead th {
    border: 0;
    font-weight: 400;
    border-bottom: 1px solid $grey-light;
  }

  td,
  th {
    padding: 12px;
    border-top: 0;
    font-weight: 400;
  }

  tbody tr:nth-of-type(odd) {
    background: $grey-extralight;
  }

}


