// General global styles should be defined here,
// only element selectors like 'body' or 'h2' are allowed.
//
// NOTE: For styling specific components, create a file inside components/
// and import it in main.scss


body {
  height: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 24px;
  background: #00cde0;
  background: -moz-linear-gradient(20deg, #00cde0 0%, #00727f 63%, #006b75 100%);
  background: -webkit-linear-gradient(20deg, #00cde0 0%,#00727f 63%,#006b75 100%);
  background: linear-gradient(20deg, #00cde0 0%,#00727f 63%,#006b75 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cde0', endColorstr='#006b75',GradientType=1 );
}

#page-container {
  width: 1200px;
  margin: 0 auto;
}
