// General global styles should be defined here,
// only element selectors like 'body' or 'h2' are allowed.
//
// NOTE: For styling specific components, create a file inside components/
// and import it in main.scss

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-family: $font-stack;
  font-weight: 400;
  color: $blackish;
  background: $grey-extralight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page-container {
  width: 100%;
  max-width: 1248px; // plus 2x24px = 48px horizontal padding
  padding: 0 24px;
  margin: 0 auto;
  background: $grey-extralight;
  box-shadow: 0 0 48px rgba($black, 0.2);
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.is-login-page {
    box-shadow: none;
  }
}

#content-container {
  flex: 1;
}

a {
  color: $primary-darker;
  text-decoration: none;

  &:hover {
    color: $primary-darker;
    border-bottom: 1px solid $primary-darker;
    text-decoration: none;
  }
}
