@import "helpers";

// Colors

$black: #000;
$blackish: #333;
$grey-dark: #777;
$grey-medium: #b0b0b0;
$grey-light: #ccc;
$grey-extralight: #eee;
$white: #fff;

$primary: #41D1AC;
$primary-light: tint($primary, 25);
$primary-lighter: tint($primary, 50);
$primary-extralight: tint($primary, 75);
$primary-greyish: shade(tint($primary, 95), 5);
$primary-dark: shade($primary, 10);
$primary-darker: shade($primary, 35);

$danger: #e44848;
$danger-light: tint($danger, 25);
$danger-lighter: tint($danger, 50);
$danger-dark: shade($danger, 10);
$danger-darker: shade($danger, 35);

$success: #5ac33c;

$skill-professional: #F2CA46;
$skill-basic: #58C2EF;
$skill-interest: $grey-medium;

// Shadows

@mixin md-shadow-xs {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin md-shadow-s {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin md-shadow-m {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin md-shadow-l {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin md-shadow-xl {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

// Transitions & Animations

@mixin md-transition($properties...) {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition-property: $properties;
  will-change: $properties;
}

// Fonts & Font Stacks

$font-stack: "Source Sans Pro", "PT Sans", Calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif;
