// Colors

$ixds-yellow: #ffcc1f;
$ixds-orange: #eb5b33;
$ixds-purple: #6a5ba4;
$ixds-blue: #0fa4df;
$ixds-green: #3ab2a1;

$black: #000;
$blackish: #333;
$grey-dark: #575757;
$grey-medium: #b0b0b0;
$grey-light: #ccc;
$white: #fff;

$aqua: #00cde0;
$teal: #006b75;


// Shadows

@mixin md-shadow-xs {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin md-shadow-s {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin md-shadow-m {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin md-shadow-l {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin md-shadow-xl {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
