@import "../../../styles/variables";

.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.content-wrapper {
  margin-top: 36px;
}

.users {
  margin-top: 25px;
}

h1 {
  display: inline;
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
  letter-spacing: 0.015em;
  color: $white;
  margin-top: 36px;
}

.btn-add-user{
  float: right;
  font-size: 16px;
  line-height: 16px;
  color: $white;
  border: solid 1px $white;
  padding: 8px 16px;
  background: none;

  &:focus, &:hover, &:active {
    border-width: 2px;
    padding: 7px 15px;
  }
}

.actions .btn {
  background: none;
  color: $white;
  padding: 0 12px;
  font-size: 20px;

  &.delete:hover {
    color: red;
  }
}
