<p class="align-right"><span class="red">*</span> Required Fields</p>
<form [formGroup]="taskForm">
  <div class="form-group">
    <div class="flex-container">
      <label for="title-input" class="flex-container-left">
        Name <span class="red">*</span>
      </label>
      <div class="flex-container-right red"
           *ngIf="!taskForm.get('title').valid && taskForm.get('title').dirty">
           This field is required.
      </div>
    </div>
    <input required type="text" id="title-input" placeholder="Add a task name"
     name="title" formControlName="title" class="form-control"
     [class.error]="!taskForm.get('title').valid && taskForm.get('title').dirty">
  </div>
  <div class="form-group">
    <div class="flex-container">
      <label for="description-input" class="flex-container-left">
        Description <span class="red">*</span>
      </label>
      <div class="flex-container-right red"
           *ngIf="!taskForm.get('description').valid && taskForm.get('description').dirty">
           This field is required
      </div>
    </div>
    <textarea required type="text" id="description-input" placeholder="Add a description"
     class="form-control" name="description" rows="4"
     [class.error]="!taskForm.get('description').valid && taskForm.get('description').dirty"
     formControlName="description">
    </textarea>
  </div>

  <p>Required Skills:</p>
  <ul class="required-skill-list">
    <li
      class="required-skill"
      *ngFor="let skill of task.requiredSkills">
      {{ skill.name }}
      <span
        (click)="removeRequiredSkill(skill)"
        class="remove-skill fa fa-remove"
        aria-hidden="true">
      </span>
    </li>
  </ul>
  <p *ngIf="task.requiredSkills.length === 0" class="required-skills-hint">Add required skills by selecting some skills from the list below.</p>

  <app-skill-search></app-skill-search>
</form>
