@import "../../../styles/variables";

.section-title {
  margin: 28px 0 0 0;
  font-size: 20px;
  line-height: 24px;
}

.error {
  border-color: $danger;
}

.red {
  color: $danger;
}

.align-right {
  text-align: right;
}

.flex-container {
  display: flex;

  &-left {
    width: 50%;
    text-align: left;
  }

  &-right {
    width: 50%;
    text-align: right;
  }
}

.hint {
  color: $grey-dark;
  margin-top: 8px;
}

// Style skill-search tags
:host /deep/ .skill {
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: $primary-light;
  }
}

.required-skill-list {
  margin-top: 16px;
  
  + app-skill-search {
    display: block;
    margin-top: 16px
  }
}

.required-skill {
  border-color: $blackish;
  color: $blackish;
}

.btn-remove-skill {
  line-height: 16px;
  vertical-align: bottom;
  margin-left: 8px;
  
  &:hover {
    color: $danger;
  }
}

.assigned-user-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 16px -16px 0;
  padding: 0;

  li {
    flex: 0 1 251px;
    max-width: 251px;
    margin: 8px 16px;
    padding-right: 24px;
    line-height: 36px; // avatar height
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  + app-user-search {
    display: block;
    margin-top: 16px;
  }

  .assigned-user-name {
  }

  .btn-remove-user {
    position: absolute;
    right: 0;
    top: 2px;
    padding: 4px;
    font-size: 20px;
    
    &:hover {
      color: $danger;
    }
  }
}
