@import "../../../styles/variables";

.section-title {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.remove-skill {
  margin-left: 4px;
  cursor: pointer;
}

.error {
  border-color: $danger;
}

.red {
  color: $danger;
}

.align-right {
  text-align: right;
}

.flex-container {
  display: flex;

  &-left {
    width: 50%;
    text-align: left;
  }

  &-right {
    width: 50%;
    text-align: right;
  }
}

.hint {
  color: $grey-dark;
}

// Style skill-search tags
:host /deep/ .skill {
  cursor: pointer;

  &:hover {
    background-color: $primary-light;
  }
}

.assigned-user-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  & li {
    flex: 1 1 183px;
    margin: 6px;
  }
}

.assigned-user-content {
  min-width: 183px;
  display: inline-block;
}
