<form [formGroup]="taskForm">
  <div class="form-group">
    <div class="flex-container">
      <label for="title-input" class="flex-container-left">
        Name <span class="red">*</span>
      </label>
      <div class="flex-container-right red"
           *ngIf="!taskForm.get('title').valid && taskForm.get('title').dirty">
           This field is required.
      </div>
    </div>
    <input required type="text" id="title-input" placeholder="Add a task name"
     name="title" formControlName="title" class="form-control"
     [class.error]="!taskForm.get('title').valid && taskForm.get('title').dirty">
  </div>
  <div class="form-group">
    <div class="flex-container">
      <label for="description-input" class="flex-container-left">
        Description <span class="red">*</span>
      </label>
      <div class="flex-container-right red"
           *ngIf="!taskForm.get('description').valid && taskForm.get('description').dirty">
           This field is required
      </div>
    </div>
    <textarea required type="text" id="description-input" placeholder="Add a description"
     class="form-control" name="description" rows="4"
     [class.error]="!taskForm.get('description').valid && taskForm.get('description').dirty"
     formControlName="description">
    </textarea>
  </div>

  <div class="form-group">
    <div class="g-switch-title">Status</div>
    <div class="g-switch-field">
      <input type="radio" checked id="input-status-upcoming" class="tag tag-default">
      <label for="input-status-upcoming">Upcoming</label>
    </div>
  </div>

  <h3 class="section-title">Required Skills</h3>
  <ul class="required-skill-list">
    <li
      class="required-skill"
      *ngFor="let skill of task.requiredSkills">
      {{ skill.name }}
      <span
        (click)="removeRequiredSkill(skill)"
        class="remove-skill fa fa-remove"
        aria-hidden="true">
      </span>
    </li>
  </ul>
  <p *ngIf="task.requiredSkills.length === 0" class="hint">No required skills added. Select some skills from the list below.</p>

  <app-skill-search></app-skill-search>

  <h3 class="section-title">Assigned Users</h3>
  <ul class="assigned-user-list">
    <li
      class="assigned-user"
      *ngFor="let user of task.assignedUsers">
      <div class="assigned-user-content">
        <img class="g-avatar" [src]="urlsOfLoadedPictures[user._id] | safeUrl">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <span
        (click)="removeAssignedUser(user)"
        class="remove-user fa fa-remove" title="Unassign {{ user.firstName }} {{ user.lastName }}"
        aria-hidden="true">
      </span>
    </li>
  </ul>
  <p *ngIf="task.assignedUsers.length === 0" class ="hint">No one is assigned yet. Assign people by selecting them from the list below.</p>

  <app-user-search [requiredSkills]="task.requiredSkills" [interestedUsers]="task.interestedUsers"></app-user-search>
</form>
