.remove-skill {
  margin-left: 4px;
  cursor: pointer;
}

.error {
  border-color: red;
}

.red {
  color: red;
}

.align-right {
  text-align: right;
}

.flex-container {
  display: flex;

  &-left {
    width: 50%;
    text-align: left;
  }

  &-right {
    width: 50%;
    text-align: right;
  }
}

.required-skills-hint {
  color: #999;
}

// Style skill-search tags
:host /deep/ .skill {
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 1px currentColor;
  }
}
