<div class="card">
  <div class="actions">
    <button *ngIf="currentUserCanDelete" class="btn remove" type="button" (click)="modalService.open(deleteUserModalId)"><i class="fa fa-trash"></i></button>
  </div>

  <h3 class="title" (click)="showUser()">{{ user.firstName}} {{ user.lastName }}</h3>
  <h6 class="subtitle">{{ user.email }}</h6>
  <h6 class="subtitle" *ngIf="user.phone">{{ user.phone }}</h6>
  <h6 class="subtitle" *ngIf="user.location">{{ user.location }}</h6>

  <app-user-skill-list [user]="user" [showSkillTypeIcons]="false"></app-user-skill-list>

  <app-modal [modal-id]="deleteUserModalId" modal-title="Delete User {{ user?.title }}">
    <span modal-body>Are you sure that you want to delete this user?</span>
    <div modal-footer class="text-xs-right">
      <button type="button" class="btn btn-secondary" (click)="modalService.close(deleteUserModalId)">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
    </div>
  </app-modal>
</div>
