@import "../../../../styles/variables";

.card {
  border: 1px solid $grey-light;
  padding: 24px;
  position: relative;
  border-radius: 0;

  + .card {
    margin-top: 24px;
  }

  &.past {
    background-color: $grey-light;
    display: none;
  }
}

.actions {
  position: absolute;
  top: 24px;
  right: 24px;

  .btn {
    font-size: 20px;

    + .btn {
      margin-left: 8px;
    }
  }
}

.kicker {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.avatar {
  margin: -12px 12px 0 -2px;
}

.title {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 12px;
}

.meta-list {
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0;
}

.meta-item {
  display: flex;
  line-height: 28px;

  .fa {
    color: $grey-medium;
    line-height: 28px;
    flex: 0 1 24px;
    margin-right: 4px;
  }
}

.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

app-user-skill-list {
  display: block;
  margin-top: 24px;
}

:host .modal-delete-user /deep/ .modal-dialog {
  max-width: 500px;
}
