.home-link {
  color: #000;
  text-decoration: none;
}

.individual_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.nav_a {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 0.5em;
}

@media (max-width: 1200px) {
  .individual_nav{
    display:block;
  }
}
