<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a routerLink="/home" class="navbar-brand">
    <i class="fa fa-users" aria-hidden="true"></i>
     Staffing Tool
  </a>
  <ul class="nav navbar-nav" *ngIf="this.router.url != '/auth/login'">
    <li class="nav-item"><a class="nav-link" routerLink="/usr/profile" routerLinkActive="['active']"><i class="fa fa-asterisk" aria-hidden="true"></i>
      Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/usr/project/list" routerLinkActive="['active']"><i class="fa fa-list-ul" aria-hidden="true"></i>
      Projects</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/usr/project/create" routerLinkActive="['active']"><i class="fa fa-plus" aria-hidden="true"></i>
      New Project</a></li>
    <li class="nav-item right"><a class="nav-link" routerLink="/auth/login" (click)="auth.logout()">Logout</a></li>
    <li *ngIf="isAdminUser" class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" (click)="toggleDropdown($event)" routerLinkActive="['active']"><i class="fa fa-book" aria-hidden="true"></i>Admin</a>
      <div [style.display]="isActiveDropdown ? 'block' : 'none'" class="dropdown-menu">
        <a class="dropdown-item" (click)="closeDropdown()" routerLink="/admin/user/create" routerLinkActive="['active']">Create User</a>
        <a class="dropdown-item" (click)="closeDropdown()" routerLink="/admin/user/list" routerLinkActive="['active']">Show Users</a>
        <a class="dropdown-item" (click)="closeDropdown()" routerLink="/admin/skill" routerLinkActive="['active']">Edit Skills</a>
      </div>
    </li>
  </ul>
</nav>
