@import "../../styles/variables";

.nav-wrapper {
  @include md-shadow-xs;

  background: $blackish;
  position: relative;
  margin: 0 -24px;
  color: $grey-extralight;
}

.navbar {
  position: relative;
  padding: 16px;
  font-size: 18px;
  line-height: 36px;
}

.right {
  float: right;
}

.navbar-nav {
  padding-left: 170px;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 36px;
}

.navbar-brand {
  padding: 0;

  i {
    margin-right: 8px;
  }
}

.nav-item {
  .fa {
    font-size: 16px;
    margin-right: 6px;
    margin-top: -1px; // visually center the icon
  }
}

.nav-link {
  color: $grey-extralight;
  padding: 0;

  &:hover {
    border-bottom: 0;
    color: $primary-lighter;
  }
  
  &.active {
    color: $primary;
  }
}
