@import "../../styles/variables";

.right {
  float: right;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 2rem;
}

.navbar-brand {
  margin-right: 2rem;
}

.nav-item {
  .fa {
    margin-right: 4px;
    margin-top: -1px; // visually center the icon
  }
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-active {
  .dropdown-menu {
    display: block;
  }

  .dropdown-toggle:after {
    border-bottom: .3em solid;
    border-top: 0;
  }
}
