@import "../../styles/variables";

.navbar {
  @include md-shadow-xs;

  position: relative;
  padding: 12px 16px;
}

.right {
  float: right;
}

.navbar-nav {
  padding-left: 212px;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 36px;
}

.navbar-brand {
  padding: 0;
  line-height: 36px;

  i {
    margin-right: 8px;
  }
}

.nav-item {
  line-height: 36px;

  .nav-link {
    padding: 0;
  }

  .fa {
    margin-right: 4px;
    margin-top: -1px; // visually center the icon
  }
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-active {
  .dropdown-menu {
    display: block;
  }

  .dropdown-toggle:after {
    border-bottom: .3em solid;
    border-top: 0;
  }
}
