<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a routerLink="/home" class="navbar-brand">
     Staffing Tool
  </a>
  <ul class="nav navbar-nav" *ngIf="this.router.url != '/auth/login'">
    <li class="nav-item"><a class="nav-link" (click)="closeDropdown()" routerLink="/usr/profile" routerLinkActive="active"><i class="fa fa-asterisk" aria-hidden="true"></i>
      {{user?.firstName}}</a></li>
    <li *ngIf="isInternUser" class="nav-item"><a class="nav-link" (click)="closeDropdown()" routerLink="/usr/project/list/" routerLinkActive="active"><i class="fa fa-list-ul" aria-hidden="true"></i>
      Projects</a></li>
    <li *ngIf="isInternUser" class="nav-item"><a class="nav-link" (click)="closeDropdown()" routerLink="/usr/project/create" routerLinkActive="active"><i class="fa fa-plus" aria-hidden="true"></i>
      New Project</a></li>
    <li class="nav-item right"><a class="nav-link" (click)="closeDropdown()" routerLink="/auth/login" (click)="logout()">Logout</a></li>
    <li *ngIf="isAdminUser" class="nav-item dropdown" [class.dropdown-active]="isActiveDropdown">
      <a class="nav-link dropdown-toggle" (click)="toggleDropdown($event)" [class.active]="this.router.url.startsWith('/admin')"><i class="fa fa-book" aria-hidden="true"></i>Admin</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="closeDropdown()" routerLink="/admin/user/create" routerLinkActive="active">Create User</a>
        <a class="dropdown-item" (click)="closeDropdown()" routerLink="/admin/user/list" routerLinkActive="active">Show Users</a>
        <a class="dropdown-item" (click)="closeDropdown()" routerLink="/admin/skill" routerLinkActive="active">Edit Skills</a>
      </div>
    </li>
  </ul>
</nav>
