<div class="card">
  <div class="actions">
    <button *ngIf="currentUserCanDelete" class="btn btn-icon btn-danger" type="button" (click)="modalService.open(deleteTaskModalId)"><i class="fa fa-trash"></i></button>
    <button *ngIf="currentUserCanEdit" class="btn btn-icon" (click)="modalService.open(editTaskModalId)"><i class="fa fa-pencil"></i></button>
    <button *ngIf="!currentUserIsAssigned" class="btn btn-icon like" [class.starred]="currentUserIsInterested" >
      <i (click)="toggleInterest()"
         [ngClass]="{'fa-star-o': !currentUserIsInterested, 'fa-star': currentUserIsInterested}"
         class="fa"></i>
    </button>
    <div *ngIf="currentUserIsAssigned" class="assigned" title="You are assigned!">
      <i class="fa fa-check-circle"></i>
    </div>
  </div>

  <h6 class="kicker">
    <span class="kicker-item project-title">{{ project.title}}</span>
    <span class="kicker-item project-duration">{{ project.start | date:"dd.MM.yyyy" }} – {{ project.end | date:"dd.MM.yyyy" }}</span>
    <span class="kicker-item project-client">{{ project.client }}</span>
  </h6>
  <h3 class="title"><a routerLink="/user/project/show/{{ project._id }}">{{ task.title }}</a></h3>
  <p class="description">{{ task.description }}</p>
  <ul class="g-tag-list skill-list">
    <li *ngFor="let skill of task.requiredSkills" class="g-tag skill">{{ skill.name }}</li>
  </ul>
  <template [ngIf]="task.assignedUsers.length > 0">
    <h6 class="assigned-users-title">Assigned People:</h6>
    <ul class="assigned-users">
      <li *ngFor="let user of task.assignedUsers"
          [class.current]="user._id === currentUser._id"
          class="user">{{ user.firstName }} {{ user.lastName }}</li>
    </ul>
  </template>

  <app-modal [modal-id]="deleteTaskModalId" modal-title="Delete Task {{ task?.title }}">
    <span modal-body>Are you sure that you want to delete this task?</span>
    <div modal-footer class="text-xs-right">
      <button type="button" class="btn" (click)="closeModal(deleteTaskModalId, $event)">Cancel</button>
      <button type="button" class="btn btn danger" (click)="delete()">Delete</button>
    </div>
  </app-modal>

  <app-modal [modal-id]="editTaskModalId" modal-title="Edit {{ task.title }}">
    <app-task-create #taskComponent [task]="task" modal-body></app-task-create>
    <div modal-footer class="text-xs-right">
      <button type="button" class="btn" (click)="closeModal(editTaskModalId, $event)">Cancel</button>
      <button type="button" class="btn btn-primary" [disabled]="!taskComponent.taskForm.valid" (click)="updateTask(taskComponent)">
        Save Changes
      </button>
    </div>
  </app-modal>
</div>
